@{ 
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="MultiPageApp">
<head>
    <title></title>
    <base href="/" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>

    <nav>
        <ul id="nav-primary-container" class="nav-menu">
           <li class="nav-item"><img id="nav-logo" src="https://upload.wikimedia.org/wikipedia/commons/3/33/Vanamo_Logo.png" /></li>
           <li class="nav-item nav-menu-item">UFO Sightings</li>
           <li class="nav-item nav-menu-item">Log In</li>
           <li class="nav-item nav-menu-item">Sign Up</li>
        </ul>
    </nav>
    <ng-view></ng-view>


    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/ngApps/MultiPageApp/app.js"></script>
    <script src="~/ngApps/MultiPageApp/controllers.js"></script>
</body>
</html>