body {
    margin: 0px;
}

#nav-logo {
    height: 50px;
    width: 50px;
}

#nav-primary-container {
    list-style-type:none;
    padding: 10px;
    background-color: cadetblue;
}

.nav-item {
    cursor:pointer;
    margin: 0px;
    text-align:center;
    display:inline;
    font-size:25px;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-menu-item {
    background-color: aquamarine;
    position: relative;
    bottom: 15px;
    padding-bottom: 10px;
    padding-top:23px;
    padding-bottom:27px;
}